:root {
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #f53838;
  --color-gray: #4f5665;
  --color-light-gray: #afb5c0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
.span-vpn {
  font-weight: 700;
}
.container {
  max-width: 144rem;
  padding: 0 15rem;
  margin: 0 auto;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  .logo__container {
    display: flex;
    align-items: center;
    gap: 1rem;
    .logo {
      max-width: 3.5rem;
    }

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
  }
  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;
    .nav__list {
      display: flex;
      align-items: center;
      gap: 4rem;
    }
    .nav__link:link,
    .nav__link:visited {
      color: var(--color-gray);
    }
    .nav__link:hover,
    .nav__link:active {
      color: var(--color-orange);
    }
    .regest {
      display: flex;
      align-items: center;
      gap: 3rem;
      .regest__link:link,
      .regest__link:visited {
        font-weight: 500;
        color: var(--color-black);
      }
      .regest__link:nth-of-type(2) {
        padding: 1.3rem 4.5rem;
        color: var(--color-orange);
        border: 0.1rem solid var(--color-orange);
        border-radius: 5rem;
      }
    }
  }
  .section {
    display: flex;
    align-items: center;
    gap: 4rem;
    .section-title {
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 5rem;
      margin-bottom: 2rem;
    }
    .section-subtitle {
      color: var(--color-gray);
      margin-bottom: 5rem;
      line-height: 3rem;
    }
  }
  .first-section {
    .left {
      flex: 1;
      h2 {
        font-size: 5rem;
        font-weight: 500;
        line-height: 7rem;
        margin-bottom: 2rem;
      }
    }
    .right {
      flex: 1;
      img {
        width: 61.1rem;
      }
    }
  }
  .button-start {
    border: none;
    background-color: var(--color-orange);
    color: white;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1.75rem 7.75rem;
    position: relative;
    display: flex;

    justify-content: center;
  }
  .button-start::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 100%;
    top: 50%;
    border-radius: 1rem;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(2.7rem);
    z-index: -1;
  }
  .users {
    background: #fff;
    gap: 11rem;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 3.75rem 9rem;
    box-shadow: 0 4.2rem 5.7rem rgba(13, 16, 37, 0.06);

    .users__container {
      display: flex;
      flex: 1;
      align-items: center;
      gap: 3.6rem;
      z-index: 1;
      img {
        max-width: 5.5rem;
      }
    }
    .users__container:nth-of-type(2),
    .users__container:nth-of-type(1) {
      border-right: 0.2rem solid #eeeff2;
    }
    .numbers {
      line-height: 3rem;
      padding: 3rem 0;
      h3 {
        font-size: 2.5rem;
        font-weight: 700;
      }
      p {
        color: var(--color-gray);
        font-size: 2rem;
      }
    }
  }
  .users::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100vw;
    height: 100%;
    // z-index: ;
  }

  .features {
    gap: 17rem;
    align-items: flex-end;
    .section-subtitle {
      margin-bottom: 2rem;
    }
    .feature__list {
      font-size: 1.4rem;
      color: var(--color-gray);
      line-height: 3rem;
      li {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
  .plan {
    flex-direction: column;
    div {
      text-align: center;
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 5rem;
      justify-content: center;
      .card {
        width: 33rem;
        height: 76rem;
        border: 0.1rem solid #ddd;
        border-radius: 1rem;
        padding: 7rem 6rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        line-height: 3rem;
      }
      .img-card {
        align-self: center;
        width: 15rem;
      }
      .plan-name {
        font-size: 1.8rem;
        font-weight: 500;
      }
      .plans-details {
        .plans__list {
          display: flex;
          align-items: center;
          gap: 2rem;
          margin-bottom: 1rem;
          font-size: 1.4rem;
          color: var(--color-gray);
        }
      }
      .price {
        margin-top: auto;
      }
      .price__text {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }
      .price__select {
        padding: 1.3rem 6.3rem;
        color: var(--color-orange);
        border: 0.1rem solid var(--color-orange);
        border-radius: 5rem;
        font-weight: 700;
        background-color: transparent;
        font-size: 1.6rem;
      }
      .Premium-card {
        border-color: var(--color-orange);
        .Premium-select {
          background-color: var(--color-orange);
          color: white;
          position: relative;
        }
        .Premium-select::after {
          content: "";
          z-index: -1;
          position: absolute;
          width: 80%;
          height: 4.5rem;
          top: 50%;
          left: 10%;
          right: 10%;
          border-radius: 6rem;
          background: rgba(245, 56, 56, 0.35);
          filter: blur(27px);
        }
      }
    }
  }
  .global {
    text-align: center;
    flex-direction: column;
    gap: 0;
    .section-subtitle {
      margin-bottom: 0;
    }
    .map {
      width: 106rem;
      margin-top: 15.5rem;
      margin-bottom: 3rem;
    }
    .sponsers {
      width: 114rem;
    }
  }
  .comments {
    flex-direction: column;

    .title {
      text-align: center;
    }
    .comments__cards {
      display: flex;
      width: 100%;
      gap: 5rem;
      justify-content: center;
      margin-left: 15rem;

      .selected {
        border-color: var(--color-orange);
        box-shadow: 0 7rem 5.7rem rgba(13, 16, 37, 0.06);
      }
      .comment__card {
        padding: 3rem;
        border: 0.2rem solid #ddd;
        border-radius: 1rem;
        max-width: 40rem;
        max-height: 24rem;
        .top {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          .card__people {
            margin-right: 2rem;
            width: 5rem;
            height: 5rem;
          }
          .card__name {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
          }
          .card__country {
            font-size: 1.4rem;
            color: var(--color-gray);
          }
          .card__rating {
            display: flex;
            align-items: center;
            margin-left: auto;
            p {
              font-size: 1.6rem;
              margin-right: 1rem;
            }
          }
        }
        .bottom {
          font-size: 1.6rem;
          line-height: 3rem;
        }
      }
    }

    .points {
      display: flex;
      align-items: center;
      width: 100%;
      .left {
        margin-right: auto;
        img {
          width: 13.5rem;
        }
      }
      .right {
        display: flex;
        gap: 2rem;
        .arrow {
          padding: 1rem;
          border-radius: 50%;
          border: 0.2rem solid var(--color-orange);
          img {
            max-width: 6rem;
          }
        }
        .arrow:last-of-type {
          background-color: var(--color-orange);
        }
      }
    }
  }
  .subscribe {
    flex-direction: row;
    border-radius: 1rem;
    padding: 5rem 7rem;
    box-shadow: 0 3.5rem 5.7rem rgba(13, 16, 37, 0.06);
    margin-bottom: -20rem;
    background-color: white;
    z-index: 2;
    flex-wrap: wrap;
    justify-content: center;

    .title {
      max-width: 37rem;
      margin-right: auto;
      .section-subtitle {
        margin: 0;
      }
    }
  }

  .foot {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 3rem;
    padding: 18rem 0 10rem;
    z-index: 1;
    position: relative;
    .foot-container {
      display: flex;
      flex-wrap: wrap;
      gap: 12.5rem;
    }
    .about {
      flex: 1;
      .description {
        margin: 2rem 0 3rem;
        color: var(--color-gray);
      }
      .social-icons {
        display: flex;
        align-items: center;
        gap: 2rem;
        img {
          background-color: var(--color-white);
          border-radius: 50%;
          width: 2.5rem;
        }
      }

      .copyright {
        margin-top: 3rem;
        color: var(--color-light-gray);
      }
    }
    .footer__col {
      justify-self: flex-start;
      h3 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }
      p {
        margin-top: 1rem;
        color: var(--color-gray);
      }
    }
  }
  .foot::after {
    content: "";
    position: absolute;
    width: 100vw;
    top: 0;
    height: 100%;
    background-color: #f1f1f2;
    z-index: -1;
  }
}

@media (max-width: 1150px) {
  html {
    font-size: 8px;
  }
  .container {
    .comments {
      .comments__cards {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin: 0;
        justify-content: flex-start;
        .comment__card {
          flex-basis: 100%;
          flex-shrink: 0;
          scroll-snap-align: start;
        }
      }
    }
    .users {
      .numbers {
        text-align: center;
      }
      .users__container:nth-of-type(2),
      .users__container:nth-of-type(1) {
        border: none;
      }
      .users__container {
        gap: 1rem;
      }
    }
  }
}
@media (max-width: 900px) {
  .container {
    header {
      gap: 3rem;
      justify-content: center;
      .nav__list {
        order: 2;
      }
      .regest {
        gap: 3rem;
        margin-left: auto;
      }
    }
    .users {
      .users__container:nth-of-type(2),
      .users__container:nth-of-type(1) {
        border: none;
      }
      .users__container {
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
@media (max-width: 800px) {
  html {
    font-size: 8px;
  }
  .container {
    padding: 0 5rem;

    .users {
      .users__container:nth-of-type(2),
      .users__container:nth-of-type(1) {
        border: none;
      }
      .users__container {
        justify-content: center;
        gap: 1rem;
      }
    }
    .comments {
      .comments__cards {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin: 0;
        justify-content: flex-start;
        .comment__card {
          flex-basis: 100%;
          flex-shrink: 0;
          scroll-snap-align: start;
        }
      }
    }
  }
  .two-column {
    flex-direction: column;
    .right {
      order: -1;
    }
  }
}

@media (max-width: 500px) {
  html {
    font-size: 7px;
  }
  .container {
    header {
      gap: 3rem;
      justify-content: center;
      .nav__list {
        order: 2;
      }
      .regest {
        gap: 3rem;
        margin-left: auto;
      }
    }

    .comments {
      .comments__cards {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin: 0;
        justify-content: flex-start;
        .comment__card {
          flex-basis: 100%;
          flex-shrink: 0;
          scroll-snap-align: start;
        }
      }
    }
  }
  .foot {
    justify-content: flex-start;
  }
}
